@font-face {
    font-family: "Fira Sans";
    src: url('../assets/fonts/Fira_Sans/FiraSans-Medium.ttf');
}

@font-face {
    font-family: "Fira Sans regular";
    src: url('../assets/fonts/Fira_Sans/FiraSans-Regular.ttf');
}

html {
    font-size: 14px;
    line-height: 20px;
    font-family: "Fira Sans";
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100hv;
}

header {


} //header

.noDisplayDes {display: none}


.header-container {
    display: flex;
    align-items: center;
    padding-top: 28px;
    font-size: 1.35rem;
    line-height: 1.7rem;
    padding-bottom: 30.75px;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    .logo {
        padding-left: 29px;
        cursor: pointer;

        .logo-arrow {
            display: none;
        }
    }
    
    .menu {
        // display: contents;
        overflow: hidden;
    } 
    .navi-underline {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        margin: 11px 11px 11px 12px;
        float: left;

        a {
            text-decoration: none;
            color: #153843;
        }
    }

    .navi-underline-selected {
        border-color: #ddd;
    }

 

    .enter {
        cursor: pointer;
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        float: left;
        color: #153843;
        border: none;
        background: none;

        margin-right: 33px;

        padding: 11px 13px 11px 12px;
        border: 1px solid white;

        transition: transform 0.4s;

        &:hover {
            transform: translateY(-2px);
                
        }
    }

    .registration {
        cursor: pointer;
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        float: left;
        color: #153843;
        background: none;

        padding: 11px 13px 11px 12px;

        border: 1px solid #153843;
        box-sizing: border-box;
        border-radius: 5px;

        transition: transform 0.4s;

        &:hover {
            transform: translateY(-2px);
                
        }
    }

    .menu-button {
        display: none;
        cursor: pointer;
    }


   
} //header-container

.none {
    display: none;
}

.block {
    display: block;
}

.rotate {
    transform: rotate(180deg);
}

.hamburger-menu {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100px;
    box-shadow: 0px 0px 900px 900px rgba(0,0,0,0.9);

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #153843f5;
        align-items: center;

        li {
            font-family: "Fira Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 45px;
            color: rgb(255, 255, 255);
            max-width: 835px;

            padding-top: 3%;
            padding-bottom: 3%;
            align-items: center;

            border-bottom: 1px solid white;
            cursor: pointer;

            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
            }

            img {
                vertical-align: middle;

            }
        }
    }
}


main {
    flex: 1 0 auto;
}

.form {
    position: fixed;
    z-index: 101;

    // display: none;

    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background: #153843f5;
    box-shadow: 0px 0px 900px 900px rgba(0,0,0,0.9);

    .form-options {

        display: flex;
        justify-content: space-between;
        margin-top: 2%;
        align-items: center;
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;

        .form-name {
            font-family: "Fira Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 35px;
            text-align: center;

            color: #eceff0;
        }

        .form-image {
            vertical-align: middle;
            right: 0;
            cursor: pointer;

            transition: transform 0.5s;

            &:hover {
                transform: scale(1.2);
            }
        }

    }

    .enter-options {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

        justify-content: space-around;

        p {
            margin: 0;
        }

        .placeholder-login {
            font-family: "Fira Sans regular";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 35px;
            text-align: center;

            color: #eceff0;
        }

        .login {
            border: none;
            background: #eceff0;
            border: 2px solid  #153843f5;
            border-radius: 5px;
            max-width: 40%;
            margin-left: 30%;

            //text
            font-family: "Fira Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #153843f5;
        }

        .placeholder-password {
            font-family: "Fira Sans regular";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 35px;
            text-align: center;
            
            color: #eceff0;
        }

        .password-container {
            max-width: 47%;
            margin-left: 30%;
            align-items: center;
            display: flex;

            .password {
                border: none;
                background: #eceff0;
                border: 2px solid  #153843f5;
                border-radius: 5px;
                width: 85%;

                //text
                font-family: "Fira Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #153843f5;
            }

            #show-password {
                vertical-align: middle;
                cursor: pointer;
                margin-left: 3%;

            }
        }

        .enter-form {
            cursor: pointer;
            margin-top: 5%;
            margin-bottom: 5%;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;

            //text
            font-family: "Fira Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 35px;
            text-align: center;

            color: #153843f5;

            //background
            border: none;
            background: #eceff0;
            border: 2px solid  #153843f5;
            border-radius: 5px;
            transition: background-color 0.5s, border 0.5s;

            &:hover {
                background: #153843f5;
                color: #eceff0;
                border: 2px solid #eceff0;

            }
        }
    }
}

.cryptoplatform {
    background-color: rgba(21, 56, 67, 0.08);
}

.cryptoplatform-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 86px;

    .cryptoplatform-title {
        display: inline-block;
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        
        color: #153843;

        max-width: 835px;
    }

    .cryptoplatform-subtitle {
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        
        color: #153843;

        padding-top: 19px;
    }

    .lern {
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: 273px;

        //text
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        color: #FFFFFF;

        //background
        border: none;
        background: #69BCD7;
        border: 2px solid #eceff0;
        border-radius: 5px;
        padding: 12px 21.36px 14.5px 22px;

        transition: transform 0.4s;

            &:hover {
                transform: translateY(-3px); 
            }
    }
} //cryptoplatform-container

.video-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    video {
        max-width: 823px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
        margin-top: -200px;
    }

    .video-subtitle {
        font-family: "Fira Sans regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        text-align: center;

        color: #99AAAF;
        margin-top: 19px;
        margin-bottom: 88px;
    }

} //video-container

.information {
    border-top: 1px solid #ECEFF0;
    padding-top: 31px;
    margin-bottom: 14px;
}

.information-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .main-information {
        max-width: 397px;
    }

    .links {
        max-width: 308px;
    }

    .immaterial-information {
        display: flex;
        flex-direction: column;

        .dispute {
            max-width: 365px;
        }

        .report {
            max-width: 365px;
            margin-top: 22px;
        }
    }

    //for all information section's titles and subtitles

    .information-title {
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        
        color: #153843;
    }

    .information-subtitle {
        font-family: "Fira Sans regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: #788083;

        a {
            text-decoration: none;
            color: #085774;
            cursor: pointer;
        }
        
    }
} //information-container

.table-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    table {
            width: 100%;
            // padding-left: 5%;
            // padding-right: 5%;
            margin-bottom: 62px;

        .header {
            background: rgba(21, 56, 67, 0.03);
            border-top: 1px solid rgba(20, 112, 142, 0.29);
            th {
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 35px;
                width: 20%;

                padding: 0;
                margin-top: 10px;
                margin-bottom: 10px;
                
                color: #0A4356;
                align-items: center;
                text-align: left;

               
            }
        }

        #refresh {
            width: 18px;
            margin-left: 40%;
            cursor: pointer;
            vertical-align: middle;
            transition: transform .5s;
        }

        .rotate-refresh {
            transform: rotate(360deg);
        }

        #items {
            margin-top: 20px;
            .table-item{
                font-family: "Fira Sans";
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 30px;

                color: #153843;

            }

            .value-table-item {
                font-family: "Fira Sans";
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 30px;

                color: #153843;
            }

            .green {
                color: #0D7878;
            }

            .red {
                color: #A22828;
            }

            &:hover {
                background: rgba(21, 56, 67, 0.03);
            }
        }
    }
}

footer {
    flex-shrink: 0;
    background: #153843;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer-quote {
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: #FFFFFF;

    }
}
