html, body {
    margin: 0;
}

@font-face {
    font-family: "Fira Sans";
    src: url('../assets/fonts/Fira_Sans/FiraSans-Medium.ttf');
}

@font-face {
    font-family: "Fira Sans regular";
    src: url('../assets/fonts/Fira_Sans/FiraSans-Regular.ttf');
}

header {
   

} //header

.header-container {
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 30.75px;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    .logo {
        padding-left: 29px;
    }

    .login {

        .enter {
            font-family: "Fira Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            
            color: #153843;
            border: none;
            background: none;

            margin-right: 33px;

            padding: 11px 13px 11px 12px;
            border: 1px solid white;

            &:hover {
                border: 1px solid #153843;
                box-sizing: border-box;
                border-radius: 5px;
            }
        }

        .registration {
            font-family: "Fira Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            color: #153843;
            background: none;

            padding: 11px 13px 11px 12px;

            border: 1px solid white;

            &:hover {
                border: 1px solid #153843;
                box-sizing: border-box;
                border-radius: 5px;
            }
        }

        .menu {
            display: none;
        }
    } //.login
} //header-container

main {

}

.cryptoplatform {
    background-color: rgba(21, 56, 67, 0.08);
}

.cryptoplatform-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 86px;

    .cryptoplatform-title {
        display: inline-block;
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        
        color: #153843;

        max-width: 835px;
    }

    .cryptoplatform-subtitle {
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        
        color: #153843;

        padding-top: 19px;
    }

    .lern {
        margin-top: 50px;
        margin-bottom: 273px;

        //text
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        color: #FFFFFF;

        //background
        border: none;
        background: #69BCD7;
        border: 2px solid #eceff0;
        border-radius: 5px;
        padding: 12px 21.36px 14.5px 22px;

        &:hover {
            background: #eceff0;
            color: #69BCD7;
            border: 2px solid #69BCD7;

        }
    }
} //cryptoplatform-container

.video-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    video {
        max-width: 823px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
        margin-top: -200px;
    }

    .video-subtitle {
        font-family: "Fira Sans regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        text-align: center;

        color: #99AAAF;
        margin-top: 19px;
        margin-bottom: 88px;
    }

} //video-container

.information {
    border-top: 1px solid #ECEFF0;
    padding-top: 31px;
    margin-bottom: 14px;
}

.information-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .main-information {
        max-width: 397px;
    }

    .links {
        max-width: 308px;
    }

    .immaterial-information {
        display: flex;
        flex-direction: column;

        .dispute {
            max-width: 365px;
        }

        .report {
            max-width: 365px;
            margin-top: 22px;
        }
    }

    //for all information section's titles and subtitles

    .information-title {
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        
        color: #153843;
    }

    .information-subtitle {
        font-family: "Fira Sans regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: #788083;

        a {
            text-decoration: none;
            color: #788083;

            &:hover {
                color: #085774;
            }
        }
        
    }
} //information-container

footer {
    background: #153843;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer-quote {
        font-family: "Fira Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: #FFFFFF;

    }
}
