@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/Fira_Sans/FiraSans-Medium.ttf");
}

@font-face {
  font-family: "Fira Sans regular";
  src: url("../assets/fonts/Fira_Sans/FiraSans-Regular.ttf");
}

html {
  font-size: 14px;
  line-height: 20px;
  font-family: "Fira Sans";
}

html, body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100hv;
}

.noDisplayDes {
  display: none;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
  font-size: 1.35rem;
  line-height: 1.7rem;
  padding-bottom: 30.75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header-container .logo {
  padding-left: 29px;
  cursor: pointer;
}

.header-container .logo .logo-arrow {
  display: none;
}

.header-container .menu {
  overflow: hidden;
}

.header-container .navi-underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  margin: 11px 11px 11px 12px;
  float: left;
}

.header-container .navi-underline a {
  text-decoration: none;
  color: #153843;
}

.header-container .navi-underline-selected {
  border-color: #ddd;
}

.header-container .enter {
  cursor: pointer;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  float: left;
  color: #153843;
  border: none;
  background: none;
  margin-right: 33px;
  padding: 11px 13px 11px 12px;
  border: 1px solid white;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.header-container .enter:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-container .registration {
  cursor: pointer;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  float: left;
  color: #153843;
  background: none;
  padding: 11px 13px 11px 12px;
  border: 1px solid #153843;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.header-container .registration:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-container .menu-button {
  display: none;
  cursor: pointer;
}

.none {
  display: none;
}

.block {
  display: block;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hamburger-menu {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100px;
  -webkit-box-shadow: 0px 0px 900px 900px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 900px 900px rgba(0, 0, 0, 0.9);
}

.hamburger-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #153843f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-menu ul li {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 45px;
  color: white;
  max-width: 835px;
  padding-top: 3%;
  padding-bottom: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.hamburger-menu ul li a {
  color: white;
  text-decoration: none;
}

.hamburger-menu ul li img {
  vertical-align: middle;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.form {
  position: fixed;
  z-index: 101;
  left: 50%;
  top: 50%;
  width: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #153843f5;
  -webkit-box-shadow: 0px 0px 900px 900px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 900px 900px rgba(0, 0, 0, 0.9);
}

.form .form-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
}

.form .form-options .form-name {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #eceff0;
}

.form .form-options .form-image {
  vertical-align: middle;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.form .form-options .form-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form .enter-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form .enter-options p {
  margin: 0;
}

.form .enter-options .placeholder-login {
  font-family: "Fira Sans regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #eceff0;
}

.form .enter-options .login {
  border: none;
  background: #eceff0;
  border: 2px solid  #153843f5;
  border-radius: 5px;
  max-width: 40%;
  margin-left: 30%;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #153843f5;
}

.form .enter-options .placeholder-password {
  font-family: "Fira Sans regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #eceff0;
}

.form .enter-options .password-container {
  max-width: 47%;
  margin-left: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .enter-options .password-container .password {
  border: none;
  background: #eceff0;
  border: 2px solid  #153843f5;
  border-radius: 5px;
  width: 85%;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #153843f5;
}

.form .enter-options .password-container #show-password {
  vertical-align: middle;
  cursor: pointer;
  margin-left: 3%;
}

.form .enter-options .enter-form {
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #153843f5;
  border: none;
  background: #eceff0;
  border: 2px solid  #153843f5;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.form .enter-options .enter-form:hover {
  background: #153843f5;
  color: #eceff0;
  border: 2px solid #eceff0;
}

.cryptoplatform {
  background-color: rgba(21, 56, 67, 0.08);
}

.cryptoplatform-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 86px;
}

.cryptoplatform-container .cryptoplatform-title {
  display: inline-block;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #153843;
  max-width: 835px;
}

.cryptoplatform-container .cryptoplatform-subtitle {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #153843;
  padding-top: 19px;
}

.cryptoplatform-container .lern {
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 273px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #69BCD7;
  border: 2px solid #eceff0;
  border-radius: 5px;
  padding: 12px 21.36px 14.5px 22px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.cryptoplatform-container .lern:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.video-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.video-container video {
  max-width: 823px;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  margin-top: -200px;
}

.video-container .video-subtitle {
  font-family: "Fira Sans regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #99AAAF;
  margin-top: 19px;
  margin-bottom: 88px;
}

.information {
  border-top: 1px solid #ECEFF0;
  padding-top: 31px;
  margin-bottom: 14px;
}

.information-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information-container .main-information {
  max-width: 397px;
}

.information-container .links {
  max-width: 308px;
}

.information-container .immaterial-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information-container .immaterial-information .dispute {
  max-width: 365px;
}

.information-container .immaterial-information .report {
  max-width: 365px;
  margin-top: 22px;
}

.information-container .information-title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #153843;
}

.information-container .information-subtitle {
  font-family: "Fira Sans regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #788083;
}

.information-container .information-subtitle a {
  text-decoration: none;
  color: #085774;
  cursor: pointer;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #153843;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .footer-quote {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */