@media screen and (max-width: 1085px) {

    .header-container {

        flex-direction: column;

        .logo {
            display: flex;
            align-items: center;
            .logo-arrow {
                display: block;
                margin-left: 10%;
            }
        }

        .login {
            display: flex;
            flex-direction: column;

            .enter {
                margin-right: 0;
            }
        }
        // .login {
        //     .enter {
        //         display: none;
        //     }

        //     .registration {
        //         display: none;
        //     }

        //     .menu-button {
        //         display: block;
        //         background: none;
        //         border: none;
        //         img {
                    
        //         }
        //     }
        // }
    }
    // .navi-underline {
    //     display: none;
    // }

    .video-container {
        video {
            max-width: 90%;
        }
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 605px) {
    
    .information-container {
        max-width: 405px;
        .main-information {
            max-width: 405px;
        }

        .links {
            max-width: 405px;
        }

        .immaterial-information {
    
            .dispute {
                max-width: 405px;
            }
    
            .report {
                max-width: 405px;
            }
        }
    }

}