@media screen and (max-width: 1085px) {

    .header-container {

        flex-direction: column;

        .logo {
                display: flex;
                align-items: center;
                margin-bottom: 3%;
            .logo-arrow {
                display: block;
                margin-left: 10%;
            } 
        }

        .enter {
        width: 100%;
            }

        .registration {
            width: 100%;
        }

        .navi-underline {
            width: 100%;
            text-align: center;
            margin: 11px 11px 11px 0px;
        }

    }

    .noDisplay {
        display: none;
    }

    .noDisplayDes {
        display: block;
    }


    

    .video-container {
        video {
            max-width: 90%;
        }
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 605px) {
    
    .information-container {
        max-width: 405px;
        .main-information {
            max-width: 405px;
        }

        .links {
            max-width: 405px;
        }

        .immaterial-information {
    
            .dispute {
                max-width: 405px;
            }
    
            .report {
                max-width: 405px;
            }
        }
    }

}